/**== Global Page Styling  ==**/
#page-container {
	position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
	display: block;
}

/**== Styling for Header and Nav bar items ===**/
header {
	position: fixed;
	width: 100%;
	top: 0;
	height: 23%;
	padding: 0px 45px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #f2f2f2;
	z-index: 999;

}

/**===Logo Size ==**/
.logo {
	width: 58vw;
}
/**===Logo Image Styles ==**/
.logo img {
	width: 100%;
	height: 100%;
	max-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    width: 62vw;
    margin-right: 1vw;
    margin-left: 1vw;

}

/**== Nav Bar Styles ==**/
#nav-bar {
	margin-left: 10%; 
}

nav ul {
	width: 35vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

ul {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

a {
	color: #00ace6;
	font-size: 16px;
}

/**== Services and mid page styling ===**/
h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.sub-container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

#services {
    width: 100%;
    margin-top: 15vw;
    padding-left: 5%;
    padding-right: 1%;  
}

.row {
	display: flex;
}

#services .icon-logo {
	display: flex;
	align-items: center;
	justify-content: center;
    height: 13%;
    width: 12%;
	color: #00ace6;
}

#services .subinfo {
	display: flex;
	flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
}

/**== Icon Styles ===**/
i {
	size: 200px;
}

.container {
	width: 100%;
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
}

.container img {
	border: 1px solid;
	border-color: #642D90;
}

/**== Submit button and Input section styles ===**/
#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

#pricing h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#pricing input[type="email"] {
    max-width: 100%;
    width: 100%;
    padding: 5px;
    border: 1px solid;
    border-color: #f2f2f2;
}

#pricing input[type="submit"] {
    max-width: 100%;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 2px solid;
    border-color: #642D90;

    }

.btn {
    padding: 0 20px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

/**== Footer Navbar ===**/
footer {
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 1%;
    padding-right: 1%;
}
footer ul li {
    padding: 0 10px;
}

footer span {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    color: #444;
}

/**--================================Responsive Queries ===============================-----------------**/

@media only screen and (orientation: landscape) {
  header {
    height: 40%;
  }
  #services {
  	margin-top: 24vw; 
  }
}

@media only screen and (min-width: 320px) {

.nav-link {
	font-size: 12px;
}

nav ul {
    flex-direction: column;
}

h2 {
    font-size: 16px;
}

#services {
    width: 100%;
    margin-top: 68vw;
    padding-left: 30px;
}

#services .icon-logo {
	height: 13vw;
    font-size: 7px !important;
}

#services .subinfo {
    padding-bottom: 30px;
}

p {
	font-size: 9px;
}

.carousel {
    position: relative;
}

#pricing {
    margin-top: -80px;
    margin-bottom: -80px;
    font-size: 5;
    font-size: 5px;
}

footer {
	width: 100%;
	font-size: 8px;
}

footer ul {
	display: flex;
    justify-content: center;
}

a {
	font-size: 10px;
}

/** ================ **/
@media only screen and (min-width: 360px) {

.nav-link {
    font-size: 14px;
}

.logo img {
    width: 56vw;
    margin-right: 3px;
}
#services {
    width: 100%;
    margin-top: 60vw;
    padding-left: 30px;
}

#services .icon-logo {
	height: 9vw;
    font-size: 8px !important;
}

p {
    font-size: 11px;
}

a {
	font-size: 12px;
}

footer {
    font-size: 10px;
}
}

@media only screen and (min-width: 400px) {

.nav-link {
    font-size: 18px;
}

.logo img {
    width: 56vw;
    margin-right: -20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

a {
	font-size: 13px;
}

#services {
    width: 100%;
    margin-top: 55vw;
    padding-left: 30px;
}

#services .icon-logo {
	height: 6vw;
    font-size: 9px !important;
}

footer {
    font-size: 10px;
}

}

@media only screen and (min-width: 470px) {

.logo img {
    width: 56vw;
    margin-right: -20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

a {
	font-size: 14px;
}

#services {
    width: 100%;
    margin-top: 45vw;
    padding-left: 30px;
}

#services .icon-logo {
	height: 6vw;
    font-size: 10px !important;
}

footer {
    font-size: 10px;
}

@media only screen and (min-width: 570px) {

.logo img {
    width: 45vw;
    margin-right: -20px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

#services {
    width: 100%;
    margin-top: 40vw;
    padding-left: 30px;
}

#services .icon-logo {
    height: 0vw;
    font-size: 14px !important;
}

#pricing input[type="email"] {
    font-size: 8px;
}

#pricing input[type="submit"] {
    font-size: 12px;
}

footer {
    font-size: 10px;
}

@media only screen and (min-width: 670px) {

.logo img {
    width: 45vw;
    margin-right: -20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

#services {
    width: 100%;
    margin-top: 32vw;
    padding-left: 30px;
}

#services .icon-logo {
    height: 5vw;
    font-size: 14px !important;
}

footer {
    font-size: 10px;
}

@media only screen and (min-width: 768px) {

.logo img {
    width: 45vw;
    margin-right: -20px;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

#services {
    width: 100%;
    margin-top: 30vw;
    padding-left: 30px;
}

#services .icon-logo {
    height: 5vw;
    font-size: 14px !important;
}

footer {
    font-size: 10px;
}

@media only screen and (min-width: 968px) {

.logo img {
    width: 45vw;
    margin-right: -20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

#services {
    width: 100%;
    margin-top: 25vw;
    padding-left: 30px;
}

#services .icon-logo {
    height: 4vw;
    font-size: 16px !important;
}

footer {
    font-size: 10px;
}

@media only screen and (min-width: 1024px) {

.logo img {
    width: 45vw;
    margin-right: -20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

#services {
    width: 100%;
    margin-top: 25vw;
    padding-left: 30px;
}

#services .icon-logo {
    height: 4vw;
    font-size: 14px !important;
}

footer {
    font-size: 10px;
}

@media only screen and (min-width: 1440px) {

.logo img {
    width: 45vw;
    margin-right: -20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

#services {
    width: 100%;
    margin-top: 20vw;
    padding-left: 30px;
}

#services .icon-logo {
    height: 4vw;
    font-size: 14px !important;
}

footer {
    font-size: 10px;
}

@media only screen and (min-width: 2560px) {

.logo img {
    width: 45vw;
    margin-right: -20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

#services {
    width: 100%;
    margin-top: 10vw;
    padding-left: 30px;
}

#services .icon-logo {
    height: 4vw;
    font-size: 14px !important;
}

footer {
    font-size: 10px;
}

@media only screen and (orientation: landscape) {
  header {
    height: 40%;
  }
  #services {
  	margin-top: 24vw !important; 
  }
}


